<%- include('./templates/header.ejs')%>

    <body>
        <div class="container">
            <%- include('./templates/navlogin')%>
        </div>
        <section class="h-100 ">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="col-xl-6 d-none d-xl-block">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                        alt="Sample photo" class="img-fluid"
                                        style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                                </div>

                                <div class="col-xl-6">
                                    <div class="card-body p-md-5 text-black ">
                                        <h3 class="mb-5 text-uppercase text-center">Registro de Eventos </h3>
                                        <form action="/registerEvent" method="post">
                                            <div class="row">
                                                <div class="form-outline">
                                                    <label class="form-label" for="inputIdEvent">ID</label>
                                                    <input type="number" id="inputIdEvent" name="inputIdEvent" class="form-control form-control-lg border border-black" required/>

                                                </div>
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="inputTitleEvent">Titulo</label>
                                                    <input type="text" id="inputTitleEvent" name="inputTitleEvent" class="form-control form-control-lg border border-black" required/>
                                                </div>

                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="inputDescriptionEvent">Descripción </label>
                                                    <input type="text" id="inputDescriptionEvent" name="inputDescriptionEvent" class="form-control form-control-lg border border-black"  required/>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6 mb-4">
                                                        <label for="inputDateInitial" class="form-label">Fecha Inicio:</label>
                                                        <div class="col-sm-5">
                                                            <input type="date" class=" form-control-sm border border-black" id="inputDateInitial" name="inputDateInitial" pattern="\d{4}-\d{2}-\d{2}" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-4">
                                                        <label for="inputDateFinish" class="form-label ">Fecha Finalización:</label>
                                                        <div class="col-sm-5">
                                                            <input type="date" class="form-control-sm border border-black" id="inputDateFinish" name="inputDateFinish" pattern="\d{4}-\d{2}-\d{2}" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="inputValueEvent">Valor</label>
                                                <input type="number" id="inputValueEvent" name="inputValueEvent" class="form-control form-control-lg border border-black" required/>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <label class="form-label" for="selectGuest">Invitado</label>
                                                    <select class=" select form-control border border-black" id="guestSelector" name="guestSelector" required>
                                                        <% dataGuest.forEach((item )=>{  %>
                                                            <option value="<%= item._id %>"><%= item.nameGuest %></option>
                                                        <% }) %>
                                                    </select>

                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <label class="form-label" for="selectOrganizer">Organizador</label>
                                                    <select class="select form-control border border-black" id="selectOrganizer", name="selectOrganizer" required>
                                                        <% dataOrganizer.forEach((item)=>{ %>
                                                            <option value="<%= item._id %>"><%= item.nameOrganize %></option>
                                                        <%})%>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end pt-3">
                                                <button type="submit" class="btn btn-success btn-lg border border-black ">Registrar Evento</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <%- include('./templates/footer.ejs')%>
        </html>